html {
	box-sizing: border-box; /* This will allow us to keep the border and padding contain in the content of the element. With out box-sizing the elements with different width will come out of the parent element stretching the page and making uncontainable. */
}

*, *::before, *::after {
	box-sizing: inherit; /* This will take any of the elements, including psedo-elements, and apply the border-box value to the box-sizing. Remember this is being inherited from the <html> element. *(means the universal CSS selector) */
}

* {
  border: 1px solid red !important;
}

body {
  margin: 0;
  background-color: #DBE7F4;
}

header{
  display: flex;
  background-color: white;
}

h1 {
  margin: 0;
  /* font-size: 2.5em; */
  font-size: 3vw;
  background-color: black;
  color: white;
  padding: 40px 10px;
  width: 32%;
  text-align: center;
}

nav {
  margin: 0 auto;
  width: 68%;
  
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100%;
  margin: 0;
}

nav li {
  margin-right: 5%;
  
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: bolder;
  padding: 4px 20px;
  font-size: 1.2vw;
}

nav a:hover {
  background-color: #C0130E;
  color: white;
  padding: 4px 20px;
}

/* when on index.html only, keep Home highlighted */
#mark {
  background-color: #C0130E;
  color: white;
  padding: 4px 20px;
}

/* All content to the left - inputs */
#left-content {
  position: relative;
  top: 38px;
  width: 60%;
  margin-right: 25px;
  margin-left: 25px;
}

#left-content h2 {
  /* font-size: 1.8em; */
  font-size: 2vw;
  margin-top: 110px;
  
}

#left-content p {
  font-size: 1.4vw;
}

.outer-container {
  display: flex;
}

.inner-container{
  display: flex;
  flex-direction: column;
  width: calc(30% - 30px);

}

.outer-container > .inner-container {
  margin-right: 10%;
  margin-top: 2%;
}

input[type='text'] {
  outline:none;
}


#reportText {
  border: 1px solid black;
  font-size: 0.92vw;
  color: black;
  height: 32px;
  
}

select {
  outline: none;
}

#selection {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: calc(100% - 30px);
    background: #fff;
    z-index: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.selectionStyle {
  position: relative;
  height: 32px;
  margin: 0;
  margin-right: 25px;
  position: relative;
  float: right;
}


.selectionStyle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: calc(100% - 30px);
    background: #fff;
    z-index: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.selectionStyle::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 32px;
  background-color: white;
  background-image: url(image/down-arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.selectionStyle .selection-box {
  width: 100%;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 0.92vw;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding: 5px 15px;
}


/* Search button */

#searchButton {
  display: flex;
  flex-direction: column-reverse;
}

#getReports {
  padding: 10% 22%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  transition: .3s ease;
  background-color: #28BFE6;
  cursor: pointer;
  border: none;
  text-align: center;
  font-size: 0.8vw;
  outline: none;
}

#getReports:hover {
  background-color: #CAD0DE;
  color: #28BFE6;
}

/* All three images on index.html */

#content {
  position: relative;
}

.imgsize {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#imgsize1 {
  background-image: url(image/united.jpeg);
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 25px;
}

#imgsize2 {
  background-image: url(image/children.jpg);
  margin-bottom: 25px;
}

#imgsize3 {
  background-image: url(image/medicalsupplies.jpg);
  left: 50%;
  position: relative;
  transform: translate(-50%);

}

#flex{
  display: flex;
  margin-top: 66px;
}

#right-content {
  width: 40%; 
}


/* Section below is to style reports.html */
.header2_for_other {
  position: relative;
  top: 30px;
  font-size: 1.8vw;
  margin-left: 2%;
  border-left: #28BFE6 solid 10px;
  text-indent: 1%;
}

#info {
  background-color: white;
  border-radius: 6px;
  position: relative;
  top: 45px;
  margin: 0 8%;
  margin-bottom: 8%;
}


#title_section {
  list-style-type: none;
  padding: 0 1%;
  font-size: 1.2vw
}

#title_section li:not(:last-child) {
  border-bottom: 2px #E5E5E5 solid;
}

#title_section li {
  padding: 2% 3%;
}

#title_section li:last-child {
  padding-bottom: 0;
}

#title_section a {
  text-decoration: none;
  color: black;
}

#title_section a:hover {
  color: red;
}

#prevTitle2, #nextTitle {
  display: inline-block;
  position: relative;
  top: 80px;
  left: 42%;
  transform: translate(-50%, -50%); 

} 

#nextTitle {
  margin-left: 2.5%;
  margin-right: 2.5%;
  /* left: 108%; */
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #28BFE6;
}

#prevTitle2 {
  left: -8%;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right:30px solid #28BFE6; 
}

/* Following style is for reportinfo.html */

#report_information{
  margin-top: 4%;
  margin-left: 8%;
  margin-right: 8%;
  background-color: white;
  padding: 2px 0;
}

#report_information h1 {
  background-color: none;
  font-size: inherit;
  margin: 0;
  color: black;
  padding: 0;
  text-align: inherit;
  width: inherit;
}

#report_information p {
  padding: 0 12px;
}

#report_information h3 {
  padding-left: 10px;
}

#back_link {
  position: relative;
  display: inline-block;
  top: 30px;
  left: 81%;
  transform: translate(-50%, -50%);
  background-color: #CAD0DE;
  text-decoration: none;
  font-weight: bolder;
  color: black;
  padding: 0.5% 1%;
}